/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
    background-image: url("../img/te_background.jpg");
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
}
.navbar{
    background-image: url("../img/wc_background.jpg");
    background-size: contain;
    position: fixed; !important;
    top:0%;
    width: 100%;
    height: 10vh;
    z-index: 1;
    
    
}
.navbar-nav{
    margin: 0 0 0 5vw;
    padding: 0;
}

.nav-spe{
    position: absolute;
    right: 5vw;
    width: 100px;
}

.tt{
    background-color: #0f4583;
    
}
.testing{
   
}
.test{
    margin-left: 2%; 
}

.wcuplogo{
    width: 8vh;
    height: 8vh;
} 

.nav-item{
    margin-right: 10%;
    color: white;
    cursor: pointer;
}


.nav-link{
    color: white;
    font-size: 1.0em;
    font-family: 'Raleway', sans-serif;
    transition: 1s;
}

.nav-link:hover{
    color: red;
}

.general{
   margin-top: 5%;
   padding-bottom: 10%;
}
.navbar__mobile{
    display: none;
}

@media only screen and (max-width: 600px){
    .navbar__mobile{
        display: block;
    }
}

    .navbar__mobile a{
        float: right;
        display: block;
        color: white;
        margin-right: 30px;
        font-size: 1.5em;
        text-decoration: none;
    }

.menu{
    width: 100%;
    height: 23vh;
    background-color: #052357;
    opacity: 1;
    position: fixed;
    display: none;
    z-index: 1;
}

.menu__list{
    text-align: center;
    margin: 2.5vh 0 2.5vh 0;
    padding: 0;
    height: 15vh;
    
}

.menu__list__item{
    margin-bottom: 10px;
    color: white;
}
.menu__list__link{
    color: white;
    text-decoration: none;
    font-size: 1.0em;
    font-family: 'Raleway', sans-serif;
    transition: 1s;
    padding: 0;
}

.menu__list__link:hover{
    color: red;
}

.login-page {
  width: 360px;
}

.tte{
  position: fixed;
  top:30%;
  left: 35vw;
  z-index: 1;
  background: #FFFFFF;
  width: 30vw;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  display: none;
}


.ttte{
    position: absolute;
    z-index: 1;
    right: 20px;
    top: 15px;
    cursor: pointer;
}

.form {
  padding: 45px;
  
}

@media only screen and (max-width: 600px) {
    .tte {
        width: 100vw;  
        left: 0;
        top: 40%;
    }
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}






























.group__container:nth-child(odd){
    border:solid #C4C4C4 1px;
    border-radius: 5px;
    height: 250px;
    margin-left: 4.16%;
    margin-top: 50px;
    opacity: 1;

    
}
.group__container:nth-child(even){
    border:solid #C4C4C4 1px;
    border-radius: 5px;
    height: 250px;
    margin-top: 50px;
    opacity: 1;
}

@media only screen and (max-width: 600px) {
    .group__container:nth-child(odd){
        margin-left: 0%;
    }
}


.group__team__text{
    font-size: 1.0em;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.row{
  height: 100%;  
}

.testt{
    text-align: center !important;
    
}
.group__tittle{
    margin-top:3%;
    font-size: 1.2em;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.group__table{
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 1.0em;
    opacity: 1;
    line-height: 200%;
    
}
.group__row:last-child{
    border: none;
}

.group__header{
    border-bottom: 1px solid grey;
    
}

.group__header:last-child{
    border-right: none;
}

.group__header:nth-child(2){
    width: 10%;
}

.group__header:nth-child(3){
    width: 10%;
}
.group__header:nth-child(4){
    width: 10%;
}

.group__team{
    font-size: 1.0em;
    font-family: 'Raleway', sans-serif;
}

.group__team__img{
    width: 30px;
    height: 20px;
    border-radius: 2px;
    margin-left: 5px;
    border: 1px solid darkgoldenrod;
        
}

.homepage__intro{
    width: 100%;
    height: 85vh;
    background-image: url("https://pbs.twimg.com/profile_background_images/626100471086850049/8WBVDw0m.jpg");
    margin-top:10vh;
    display: flex;
	justify-content: center;
	align-items: flex-start;
	background-attachment: fixed;
    background-size: cover;
}

.homepage__intro__box{
    display: block;
    text-align: center;
    margin-top: 5vh;
}
.homepage__intro__header{
    color: red;
    font-family: 'Amaranth', sans-serif;
    font-size: 5em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}
.homepage__intro__text{
    font-size: 1.4em;
    color: white;
    font-family: 'Open Sans', sans-serif;
    

}




.fixtures__body{
    background-image: url("https://pbs.twimg.com/profile_background_images/626100471086850049/8WBVDw0m.jpg");
}

.fixtures__container{
    margin-top: 10vh;

}
.fixtures__box{
    margin: 15vh 0 0 15vw;
    display: block;
}
.fixtures__header{
    color: red;
    font-family: 'Amaranth', sans-serif;
    font-size: 2.5em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.fixtures__results{
    width: 60%;
    height: 40vh;
    position: absolute;
}
.fixtures__results__container{
    width: 100%;
    height: 10%;
    border-radius: 3px;
    background-color: lightgrey;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 10px;

}
.fixtures__results__box{
    width: 80%;
    margin: auto 10% auto 10%;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.fixtures__results__team1{
    width: 30px;
    height: 20px;
    border-radius: 2px;
    margin-right: 10px;
    border: 1px solid darkgoldenrod;
    margin-bottom: 5px;
}
.fixtures__results__team2{
    width: 30px;
    height: 20px;
    border-radius: 2px;
    margin-left: 10px;
    border: 1px solid darkgoldenrod;
    margin-bottom: 5px;
}
.fixtures__results__text{
    width:50%;
    margin: 0;
    margin-right: 10px;
}

.fixtures__choices{
   margin-bottom: 50px;
}
.fixtures__choices__button{
    margin-right: 10px;
    border-radius: 3px;
    cursor: pointer;
}

.clicked{
  height: 30%; 
}
.click{
    top: 20%;
}

.fixture__prediction{
    position: absolute;
    bottom: 15%;
    text-align: center;
    width: 100%;
    
}
.fixture__prediction__text{
    margin-bottom: 0;
}
.prediction__form{
    margin-top: 5px;
}
.prediction__form__button{
    cursor: pointer;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
